* {
	border: 0;
	margin: 0;
	padding: 0;
}
body {
	background: #000 url(../img/fondo.jpg);
	background-size: 100%;
	color: #E4D28E; 
}

#contenedor {
	font-size: 1.3em;
	margin-bottom: 7%;
	margin-top: 7%;
	padding: 0 1em; 
}

#contenedorpuntos {
	display: inline-block;
	vertical-align: middle;
	width: 88%;
}

#regresar {
	width: 9%;
	vertical-align: middle;
}

@media screen and (max-width: 1366px){
	body {
		background-size: 100% 100%;
	}
}

@media screen and (max-width: 1024px){
	#contenedor {
		font-size: 1.5em;
	}	
}
@media screen and (max-width: 768px){
	body {
		background-size: 100% 135%;
	}

	#contenedor {
		margin-bottom: 12%;
		margin-top: 17%;
	}
}