* /*Reseteo de página*/
{
	border: 0;
	margin: 0;
	padding: 0;
}
a/*Hipervínculo*/
{
	text-decoration: none;
	cursor:pointer; /*Formato del cursor*/
}
body /*Contenido Gral. del Sitio*/
{
	background: #000 url(../img/fondo.jpg) no-repeat fixed;/*Fondo*/
	background-size: 100% 100%;/*Tamaño del fondo*/
	color: #000; /*Color de letra*/
	font-family: Helvetica; /*Tipografía*/
	font-size: 1.5em;/*Tamaño de letra*/
	text-align: center;/*Centrar contenido tipo texto*/
}
footer
{
	color: #E4D28E; /*Color de letra*/
	font-size: .5em;/*Tamaño de letra*/
	margin-top: 16em;
	width: 100%; /*Determina el ancho*/
}
footer a /*Formato Hipervínculo dentro del Footer*/
{
	text-decoration: none;/*Quitar estilos prederteminados (Viñetas)*/
}
h1
{
	color: #BC8F07;
	font-size: 1.7em;
	opacity: 0.6;
	margin-top: .6em;
	padding-bottom: .5em;
}
h2, .popup2 h2, .popup5 h2
{
	font-size: 28px;
	text-shadow: .1em .2em .3em rgba(0,0,0,.4);
	padding: .4em;
	text-align: center;
}
h3
{
	font-size: 30px;
	text-shadow: .1em .2em .3em rgba(0,0,0,.4);
	padding: .5em;
	text-align: left;
}
h4
{
	color: #BC8F07;
	text-shadow: .1em .2em .3em rgba(0,0,0,.4);
}

img  /*Imagen*/
{
	margin-top: .5em; /*Ajuste margen superior*/
	max-width: 100%; /*Ajuste al tamaño de página*/
}
legend
{
	text-align: center;
	padding: 0 1em;
}
nav li /*Menú*/
{
	display: inline-block; /*Alinear bloques en una sola línea*/
	padding: 0em 4em; /*Margen interno(relleno)*/
}
nav ul /*Menú*/
{
	list-style: none; /*Quitar estilos prederteminados (Viñetas)*/
}
sup
{
	color: #8A0808;
	font-size: 1em;
}
#aviso, #derechos, #compatibilidad
{
	display: inline-block;
	vertical-align: top;
	width: 15%;
}
#aviso{
	color: #E4D28E; /*Color de letra*/
	cursor: pointer;
    text-align: left;
	width: 40%;
}
#aviso:hover /*Aviso de Privacidad al pasar el cursor*/
{
	color: #585858; /*Color de texto*/
}
#cabecera /*Encabezado*/
{
	background: url(../img/fondo_header.png) no-repeat;/*Fondo*/
	background-size: 100% 100%;/*Tamaño del fondo*/
	display: inline-block; /*Muestra al elemento a nivel de bloque*/ 
	margin-top: 3%; /*Margen Superior*/
	width: 100%; /*Determina el ancho*/
}
#cabecera img /*Logo*/
{
	/*display: block; /*Muestra al elemento a nivel de bloque*/
	margin: 0 auto; /*Centrar imagen*/
	padding-top: .5em; /*Margen interno superior*/
	padding-bottom: .3em; /*Margen interno inferior*/
	width: 18%; /*Determina el ancho*/
}
#cabecera input, .comentario, .puntaje, .puntaje2 /* Botón de usuario Encabezado*/
{
	background: transparent;
	color: #E4D28E; /*Color de texto*/
	display: block; 
	font-size: .6em;
	margin: auto;
	padding: .3em;
}
#cabecera input, .comentario
{
	cursor: pointer;
}
#cabecera input:hover, .comentario:hover
{
	color: #FFF; /*Color de texto*/
}
#compatibilidad img{
	display: block;
	margin: auto;
	padding: .4em;
	width: 50%;
}
#contenido, /*Contenedor principal*/
{
	margin: auto; /*Centrar contenedor*/
	min-height: 12em; /*Altura Mínima*/
	width: 95%; /*Determina el ancho*/
}
#derechos{
	text-align: right;
	width: 40%;
}
#registros {
    color: #E4D28E; /*Color de letra*/
    /*padding-right: 50%;*/
    text-align: left;
}
#regresar
{
	position: absolute; /*Determina posición*/
	right: 6%; /*Ajuste tamaño lado izq.*/
	top: 11%; /*Ajuste tamaño superior*/
	width: 10%;
}
#a100
{
	background:url(../img/caja_topten2.png) no-repeat;/*Fondo contenedor Historial de Ganadores*/
	background-size: 100%; /*Tamaño del fondo*/
}
#a101
{
	background:url(../img/caja_topten1.png) no-repeat;/*Fondo contenedor Historial de Ganadores*/
	background-size: 100%; /*Tamaño del fondo*/
}
#a102
{
	background:url(../img/caja_topten3.png) no-repeat;/*Fondo contenedor Historial de Ganadores*/
	background-size: 100%; /*Tamaño del fondo*/
}

#registros td, #registros th {
    padding: 0 10px;
}

#registros a {
    color: #E4D28E;
    text-decoration: none;
}

#registros-encabezado {
    height: 20px;
}

.boton
{
	text-align: center;
}
.bt_cabecera, .bt_cabecera_rep
{
	position: absolute; /*Determina posición*/
	right: 8%; /*Ajuste tamaño lado izq.*/
	top: 9%; /*Ajuste tamaño superior*/
	width: 10%;
}
.bt_cabecera_rep
{
	margin-top: 3.5em;
    top: 3%;
}
.cont_mes
{
	/*border: medium #BC8F07 dotted;
	border-radius: .5em;*/
	width: 50%;
}
.cont_recom3 /*Contenido Recompensas - Fotografías*/
{
	/*color: #E4D28E;**/
	display: inline-block;/*Alinear bloques en una sola línea*/
	margin: auto; /*Margen*/
	width: 17%;/*Determina el ancho*/
}
.enlace, .enlace2, .enlace3
{
	text-align: center;
	padding-top: .8em;
}
.enlace3
{
	font-size: 1.1em;
	padding-top: .5em;
}
.enlace a:first-child
{
	padding-right: 1em;
}
.enlace2 a, .enlace3 a
{
	padding-left: 3em;
}
.error1, .error2, .error3, .error4, .error5, .error6, .error7
{
	background: #000 url(../img/error.png) no-repeat 20px 0px;
	background-size: 15%; /*Tamaño del fondo*/
	border-radius: .5em;
	color: #D2CECE;
	height: 2.5em;
	margin: auto;
	margin-top: 1em; 
	opacity: .6;
	padding: .5em;
	width:90%;
}
.error2
{
	margin-top: .3em;	
}
.error3
{
	background: #000 url(../img/advertencia.png) no-repeat 20px 0px;
	background-size: 15%; /*Tamaño del fondo*/	
}
.error4
{
	background: #000 url(../img/correcto.png) no-repeat 20px 0px;
	background-size: 15%; /*Tamaño del fondo*/	
}
.error5, .error6, .error7
{
	background: #000 url(../img/error.png) no-repeat 25px 0px;
	background-size: 12%; /*Tamaño del fondo*/
	font-size: .7em;
	height: 2em; 
	margin-top: .3em;	
	width:50%;
}
.error6
{
	background: #000 url(../img/advertencia.png) no-repeat 25px 0px;
	background-size: 13%; /*Tamaño del fondo*/
}
.error7
{
	background: #000 url(../img/correcto.png) no-repeat 25px 0px;
	background-size: 12%; /*Tamaño del fondo*/
}
.error1 p
{
	width: 100%;
	margin: .8em 7em;
}
.error1 p, .error2 p,.error3 p, .error4 p, .error5 p, .error6 p, .error7 p
{
	margin-left: 5em;
}
.galardon
{
	position: relative;
	top: -1.8em;
	width: 40%;
}
.gal_recom
{
	padding-top: 1em;
}
.mecanica_text{ 
	background: url(../img/usuarios.png);
	background-size: 100% 120%;
    border: .2em solid #886A08;
    border-radius: .7em;
    color: #BDBDBD;
	display: none;
	font-size: .7em;
	margin: 0 auto;
	padding: 1em;
	text-align: justify;
	width: 50%;
}
.mecanica_text li{
	list-style: none;
	text-align: center;
}
.mecanica_text p{
	padding: .5em;
}
.mecanica:hover .mecanica_text{
	display : block;
}
.mec_juegos{
	width: 25%;
}
.puntaje2
{
	margin-bottom: 1.5em;
}
.premios1, .premios2, .premios3 /*Premios*/
{
	background: url(../img/caja_recompensas.png) no-repeat;/*Fondo Sección de Recompensas*/;
	background-size: 100% 100%; /*Tamaño del fondo*/
}
.premios1 /*Premios 1*/
{
	height: 9em;
	position:relative;
}
.premios1 img
{
	border-radius: .5em;
	position:absolute;
	top:-.1em;
	left: .4em;
	z-index:-1;
	width: 90%;
	height: 8.2em;
}
.premios2, /*Premios 2*/.premios3 /*Premios 3*/
{
	height: 8.3em;
	position:relative;
}
.premios2 img, .premios3 img
{
	border-radius: .5em;
	position:absolute;
	top:-.12em;
	left: .4em;
	z-index:-1;
	width: 91%;
	height: 7.5em;
}
.marca
{
	width: 10%;
	margin-top: -2.5em;
}
#a100, #a101, #a102/*Historial de Ganadores*/
{
	color: #E4D28E; /*Color de fuente*/
	display: inline-block; /*Alinear bloques en una sola línea*/
	height: 90%; /*Altura Mínima*/
	margin: .1em 1.5em;/*Margen*/
	width: 10%; /*Determina el ancho*/  
}
#a100, #a101, #a102/*Historial de Ganadores*/
{
	font-size: .7em; /*Tamaño de fuente*/
	height: 13em;
	margin-right: 1em;
	width: 12%;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#a100 p, #a101 p, #a102 p
{
	padding-top: 4.5em;
}
.dinamicas img /*Contenedor de Juegos*/
{
	cursor: pointer;
	display: inline-block;/*Alinear bloques en una sola línea*/
	margin: 2em 1em .5em .5em;
	width: 23%;
}
.cont_mes, .meses
{
	display: inline-block;
	margin: 1em 1.5em;
	vertical-align: top;
	width: 30%;
}
.cont_mes
{
	color: #E4D28E; /*Color de fuente*/
}
.mes
{
	background: url(../img/his_ganadores.png) no-repeat;/*Fondo del contenedor mes*/
	background-size: 100% 100%; /*Tamaño del fondo*/
	height: 9em;
	margin: auto;
	width: 60%;
}
.mes p
{
	padding-top: 4.5em;
}
.meses
{
	margin: 6.5em 0;
}
.meses input
{
	background: #BC8F07;
	border-radius: .5em;
	cursor: pointer;
	font-size: .75em;
	height: 3em;
	margin: 0 1em 1em 0;
	opacity: 0.6;
	width: 26%;
}
.meses input:hover
{
	opacity: 0.9;
}
.cont_ganadores
{
	margin: 0 .7em;
	position: relative; /* Determinar posición de la imagen*/
	left: -.1em;/*Determinar tamaño del lado izq.*/
	top: -5em;/*Determinar tamaño superior*/
	width: 13%; /*Determina el ancho*/
}
.cambio /*Clase "cambio", efecto de transición*/
{
	-ms-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.cont_index, .recuperacion /*Sección del contenido del index*/
{
	height: 11.5em; /*Determina la altura*/
	margin: 3% auto; /*Margen*/
	padding: 4em .5em; /*Margen interno*/
	width: 60%; /*Determina el ancho*/
	/*Ajustar texto al contenedor*/
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.recuperacion
{
	background: url(../img/caja_dinamicas.png)no-repeat;/*Fondo contenedor de usuarios ganadores*/
	background-size: 100% 100%; /*Tamaño del fondo*/
	height: 14em; /*Determina la altura*/
}
.reporte /*Sección de inicio*/
{
	min-height: 11em; /*Determina la altura*/
	margin: auto; /*Margen*/
	padding: 1.5em; /*Margen interno*/
	width: 90%; /*Determina el ancho*/
	/*Ajustar texto al contenedor*/
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cont_index
{
	background: transparent;
	height: 14em;
}

.cont_index img
{
	position: relative;
	top: -50%;
	width: 100%;
}			
.aviso_listado{
	vertical-align: top;
}
.aviso1, .aviso5, .aviso7 {
	margin-top: 5em;
}
.aviso2 {
	margin-top: 3em;
}
.aviso3 {
	margin-top: 1.5em;
}
.aviso4
{
	height: 21.5em;
}
.aviso6, .aviso8 {
	margin-top: 4.5em;
}
.aviso_cont
{
	margin-left: .8em;
	width: 61%;
}
.aviso_listado, .aviso_cont
{
	color: #C8BD81;
	display: inline-block;
	height: 5em;
}
.aviso_listado
{
	width: 37%;
}
.aviso_listado ul
{
	margin: auto;
	margin-top: 4em;
	list-style-type: decimal;
	width: 80%;
}
.aviso_listado li
{
	font-weight: bold;
	cursor: pointer;
	padding: .1em;
}
.aviso_listado li:hover, .popup2 h2
{
	color:#BC8F07; 
}
.topten
{
	background: url(../img/usuarios.png) no-repeat;
	background-size: 100% 16%;
	background-position: 0 100%;
	height: 27.5em;
}



/*Ventana Emergente*/
.vent_emergente 
{
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.vent_emergente:target {
    visibility: visible;
    opacity: 1;
}
.popup, .popup2, .popup3, .popup4, .popup5, .popup6
{
	font-size: .7em;
    background: #21610B url(../img/fondo.jpg) no-repeat; /*Fondo contenedor de inicio*/
    background-size: 100% 100%;
    border: .2em solid #886A08;
    border-radius: .7em;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    visibility: hidden;
    z-index: 1;
    margin-top: .5em;
    width: 30%;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

   	-webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.popup
{
	font-size: .6em;
	min-height: 32em;
	margin-top: .2em;
	width: 47.5%;
}
.popup2
{
	font-size: .55em;
   	height: 37.5em;
    margin-top: .2em;
    width: 90%;
}
.popup5
{
	color:#BC8F07;
    width: 55%;
}
.popup6
{
	color: #BC8F07;
	width: 35%;
}
.popup b
{
	color: #8A0808;
}
.popup2 p, .popup5 p
{
	color: #C8BD81;
	padding: .3em;
}
.popup5 p
{
	padding: .7em;
}

.popup6 textarea
{
	background: #E9DEBD; 
	opacity: .6;
	border-radius: .5em;
	margin: 1em auto;
	height: 10em;
	width: 100%;
}

.vent_emergente:target+.popup, .vent_emergente:target+.popup2, .vent_emergente:target+.popup3, .vent_emergente:target+.popup4, .vent_emergente:target+.popup5, .vent_emergente:target+.popup6
{
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.close {
    background-color: #886A08; /*rgba(0, 0, 0, 0.8)*/
    border-radius: 15px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}
.popup article, .popup3 article, .popup p 
{
    margin-bottom: .7em;
}
.recuperacion
{
	padding-top: 1.7em;
}
.popup label, .popup3 label, .popup4 label, .recuperacion label
{
    display: inline-block;
    text-align: left;
    width: 39.5%;
}
.recuperacion label
{
	margin-top: .5em;
	width: 40%;
}
.popup input, .popup3 input, .popup4 input, .recuperacion input
{
	border-radius: .3em;
	padding: .5em;
	width: 59.5%;
}
.popup3 input, .popup4 input
{
	width: 58%;
}
.recuperacion input
{
	width: 30%;
}
input[type="checkbox"]
{
	width: 4%;
}
.popup input[type="radio"]
{
	width:4%;
}
.radio
{
	margin-left: 2em;
}
.popup input[type="submit"], .popup3 input[type="submit"], .popup4 input[type="submit"], .popup6 input[type="submit"], .recuperacion input[type="submit"]
{
	background: #811414;
	border-radius: .5em 0em;
	color: #D2CD8B;
	font-size: 1em;
	padding: .5em;
	width: 25%;
}
.recuperacion input[type="submit"]
{
	font-size: .8em;
	margin-top: 1em;
	width: 15%;
}

.popup input[type="submit"]:hover, .popup3 input[type="submit"]:hover, .popup4 input[type="submit"]:hover, .popup6 input[type="submit"]:hover, .recuperacion input[type="submit"]:hover
{
	color: #EEE;
	cursor: pointer;
	opacity: .7;
}
.popup a, .popup3 a, .popup4 a
{
	color: #D2CD8B; 
}
.popup a:hover,  .popup3 a:hover, .popup4 a:hover
{
	color: #886A08; 
	font-size: 1em;
}
.popup select
{
	border-radius: .2em;
	color: #A4A4A4;
	padding: .1em;
} 
fieldset
{
	border: medium dotted #BC8F07;
	border-radius: .5em;
	padding: .5em 3em .5em 2em;
}
.reporte article
{
	margin: .5em;
}

.impresion, .impresion3, .reporte form, .subtitulo, .subtitulo2
{
	display: inline-block;
	text-align: left;
	width: 40%;
}
.subtitulo2
{
	width: 93.3%;
}
.impresion
{	
	margin-left: 17%;
	text-align: right;
	width: 21%;
}
.impresion3
{
	margin-left: 1.5em;
	text-align: right;
	width: 50%;
}
.impresion2
{	
	margin-left: 80%;
	width: 20%;
	padding-bottom: .5em;
}
.reporte form
{
	left: .5em;
	width: 20%;
}

.reporte a 
{
	color: #A4A4A4;
	font-size: .7em;
}
table
{
	margin: auto;
}

#ganadoresfarma, #txtHint, #reporteGana, .tabla_gerente, .tabla_representante
{
	margin-top: .8em;
	font-size: .77em;
}
#ganadoresfarma th, #ganadoresfarma td,#reporteGana th,#reporteGana td,#txtHint th,#txtHint td,.tabla_gerente th,.tabla_gerente td,.tabla_representante th,.tabla_representante td
{
	background: transparent;
	font-size: .76em;
	width: 20%;
	padding: .5em 1em;
}

#ganadoresfarma th,#reporteGana th, #txtHint th, .tabla_gerente th, .tabla_representante th
{
	background: #BC8F07;
	opacity: 0.6;
}

.tabla_gerente th, .tabla_gerente td
{
	width: 5%;
}







/*Responsive Web Design*/
@media screen and (max-width: 2560px){
	footer
	{
		margin-top: 35em;
	}
	.popup
	{
		width: 25%;
	}
	.popup3, .popup4
	{
		width: 20%;
	}
}

@media screen and (max-width: 1920px){
	footer
	{
		margin-top: 22em;
	}
	.galardon
	{
		top: -2em;
	}
	.popup
	{
		width: 35%;
	}
	.popup3, .popup4
	{
		width: 25%;
	}
}

@media screen and (max-width: 1440px){
    .bt_cabecera {
        top: 7%;
    }

    .bt_cabecera_rep {
        top: 1%;
    }
}

@media screen and (max-width: 1366px){
	footer
	{
		margin-top: 5em;
	}
	#a100, #a101, #a102/*Historial de Ganadores*/
	{
		height: 9em;
	}
	#a100 p, #a101 p, #a102 p
	{
		padding-top: 2.8em;
	}

    .bt_cabecera {
        top: 9%;
    }

}
@media screen and (max-width: 1200px){
	body
	{
		font-size: 1.3em;
	}
	footer
	{
		font-size: .5em;/*Tamaño de letra*/
		margin-top: 3em;
	}
	#uno a {
		top: 18%;
	}
	.bt_cabecera
	{
		top: 8%; /*Ajuste tamaño superior*/
	}
	/*.bt_cabecera_rep
	{
		margin-top: 3.2em;
	}*/
	.cont_ganadores
	{
		margin: 0 .9em;
		left: -.2em;/*Determinar tamaño del lado izq.*/
	}
	#a100, #a101, #a102
	{
		margin-right: 3em;
	}
	.popup
	{
		height: 35em;
		width: 50%;
	}
	.popup input, select
	{
		font-size: .78em;
	}
	.popup2
	{
   		height: 39em;
	}
	.puntaje2
	{
		margin-bottom: 1.3em;
	}
	.recuperacion
	{
		height: 14.3em; /*Determina la altura*/
	}		
}

@media screen and (max-width: 1024px){
	#uno a 
	{
		top: 15%;
	}
	.aviso2{
		margin-top: 1.5em;
	}
	/*.bt_cabecera_rep
	{
		margin-top: 1em;
	}*/
	.cont_ganadores
	{
		margin: 0 1em;
		left: -.2em;/*Determinar tamaño del lado izq.*/
	}	
	.f_ganadores /*Foto del premio a los 3 primeros lugares*/
	{
		margin: auto;
		height: 6em; /*Determina la altura*/
		width: 70%; /*Determina el ancho*/
	}
	#a100, #a101, #a102
	{
		margin-right: 2em;
	}	
	.meses input
	{
		font-size: .7em;
	}
	.premios1 /*Premios 1*/
	{
		height: 7.6em;
	}
	.premios1 img
	{
		height: 6.8em;
	}
	.premios2, /*Premios 2*/.premios3 /*Premios 3*/
	{
		height: 7.45em;
	}
	.premios2 img, .premios3 img
	{
		background: red;
		left: .3em;
		top:-.15em;
		height: 6.7em;
	}
	.popup
	{
		height: 34em;
		width: 55%;
	}
	.popup input, select
	{
		font-size: .78em;
	}
	.popup2
	{
   		height: 38.5em;
	}
	.puntaje2
	{
		margin-bottom: 1em;
	}

    .bt_cabecera {
        top: 4%;
    }

    .bt_cabecera_rep {
        top: -2%;
    }
}
@media screen and (max-width: 984px){
	footer
	{
		font-size: .5em;/*Tamaño de letra*/
	}
	nav li /*Menú*/
	{
		padding: 0em 2.3em;
	}
	nav li img  /*Imagen*/
	{
		max-width: 90%; /*Ajuste al tamaño de página*/
	}
	#cabecera input, .puntaje, .puntaje2 /* Botón de usuario Encabezado*/
	{
		padding: .2em;	
	}
	#uno a {
		top: 13%;
	}
	.aviso2{
		margin-top: .5em;
	}
	.aviso2 legend h4{
		font-size: 10px;
	}
	.aviso2 p {
		font-size: 10px;
	}
	.aviso2 li {
		font-size: 10px;
	}
	.bt_cabecera
	{
		width: 15%;
		top: 2%; /*Ajuste tamaño superior*/
	}
	/*.bt_cabecera_rep
	{
		margin-top: 2.4em;
	}*/
 	.cont_ganadores
	{
		margin: 0 1.2em;
		left: -.2em;/*Determinar tamaño del lado izq.*/
		top: -3.8em;
	}
	.cont_recom3
	{
		width: 21%;
	}
	#a100, #a101, #a102
	{
		margin-right: 3em;
	}
	.meses input
	{
		font-size: .68em;
	}
	.galardon
	{
		top: -1.6em;
	}
	.juegos
	{
		max-width: 40%;
		max-height: 3%;
		margin: 1.5em;
	}
	.premios1 /*Premios 1*/
	{
		height: 6.9em;
	}
	.premios1 img
	{
		height: 6.2em;
		top:-.2em;
	}
	.premios2, /*Premios 2*/.premios3 /*Premios 3*/
	{
		height: 6.5em;
	}
	.premios2 img, .premios3 img
	{
		top:-.17em;
		height: 5.9em;
	}
	.popup
	{
		font-size: .6em;
		height: 34em;
		width: 65%;
	}
	.popup2
	{
		width: 95%;
		height: 37em;
	}
	.popup2 h2
	{
		font-size: 22px;
		padding: .2em;
	}
	.puntaje2
	{
		margin-bottom: .9em;
	}
	.recuperacion
	{
		height: 14.7em; /*Determina la altura*/
	}
}
@media screen and (max-width: 768px){
	footer
	{
		font-size: .4em;/*Tamaño de letra*/
	}
	nav li img  /*Imagen*/
	{
		max-width: 86%; /*Ajuste al tamaño de página*/
	}
	#cabecera input, .puntaje, .puntaje2 /* Botón de usuario Encabezado*/
	{
		padding: .1em;	
	}
	#uno a 
	{
		top: 11%;
	}
	.bt_cabecera
	{
		top: 3%; /*Ajuste tamaño superior*/
	}
	/*.bt_cabecera_rep
	{
		margin-top: 1.6em;
	}*/
	.cont_ganadores
	{
		margin: 0 1.2em;
		left: -.2em;/*Determinar tamaño del lado izq.*/
		top: -3.8em;
		width: 20%; /*Determina el ancho*/
	}
	.cont_recom3
	{
		width: 24%;
	}
	.puntaje2
	{
		margin-bottom: .5em;
	}
	#a100, #a101, #a102
	{
		font-size: .6em; 
		margin-right: 3em;
		width: 15%;
	}
	#a101
	{
		margin-right: 5.3em;
		margin-left: 4em;
	}
	.impresion
	{	
		width: 30%;
	}
	.juegos
	{
		max-width: 90%;
		max-height: 15%;
		margin: 1.5em;
	}
	.meses
	{
		font-size: .7em;
		width: 26.5%;
	}
	.boton
	{
		font-size: .9em;
	}
	.popup
	{
		font-size: .6em;
		height: 35em;
		width: 70%;
	}
	.popup3 input 
	{
		font-size: .75em;
	}
	.premios1 /*Premios 1*/
	{
		height: 6em;
	}
	.premios1 img
	{
		height: 5.4em;
		left: .3em;
		top:-.2em;
	}
	.premios2, /*Premios 2*/ .premios3/*Premios 3*/
	{
		height: 5.9em;
	}
	.premios2 img, .premios3 img
	{
		top:-.2em;
		height: 5.3em;
	}
	.recuperacion
	{
		height: 15em; /*Determina la altura*/
	}
}
@media screen and (max-width: 600px){
	body
	{
		font-size: 1.2em;
	}
	footer
	{
		font-size: .4em;
	}
	nav li img  /*Imagen*/
	{
		max-width: 85%; /*Ajuste al tamaño de página*/
	}
	#cabecera input, .puntaje, .puntaje2 /* Botón de usuario Encabezado*/
	{
		font-size: .5em;
		padding: 0;	
	}
	#uno a 
	{
		top: 9%;
	}
	.bt_cabecera
	{
		width: 17%;
		top: 2%; /*Ajuste tamaño superior*/
	}
	/*.bt_cabecera_rep
	{
		margin-top: 1.5em;
	}*/
	.galardon
	{
		top: -1.4em;
	}
	.popup
	{
		height: 38em;
	}
	.premios1 /*Premios 1*/
	{
		height: 5.2em;
	}
	.premios1 img
	{
		height: 4.7em;
		left: .2em;
		top:-.25em;
	}
	.premios2, /*Premios 2*/ .premios3/*Premios 3*/
	{
		height: 5em;
	}
	.premios2 img, .premios3 img
	{
		top:-.3em;
		height: 4.5em;
	}
	.puntaje2
	{
		margin-bottom: .8em;
	}	
}
@media screen and (max-width: 480px){
	body
	{
		font-size: 1.1em;
	}
	footer
	{
		font-size: .4em;/*Tamaño de letra*/
	}
	nav li img  /*Imagen*/
	{
		max-width: 80%; /*Ajuste al tamaño de página*/
	}
	#cabecera input[id='reporte'], #cabecera input[id='salir'], .puntaje, .puntaje2 /* Botón de usuario Encabezado*/
	{
		font-size: .4em;
		padding: 0;	
	}
	#cabecera input[id='reporte'], #cabecera input[id='salir']
	{
		display: inline-block;
	}
	.bt_cabecera
	{
		width: 25%;
		right: 5%;
		top: 4.5; /*Ajuste tamaño superior*/
	}
	/*.bt_cabecera_rep
	{
		margin-top: .3em;
	}*/
	.puntaje2
	{
		margin-bottom: .5em;
	}
	.f_ganadores
	{
		display: block;
		width: 45%;
		margin: auto ;
	}
	.cont_ganadores
	{
		margin: 0 .5em;
		left: -.2em;/*Determinar tamaño del lado izq.*/
		top: -4em;
		width: 26%; /*Determina el ancho*/
	}
	.popup
	{
		height: 38em;
		width: 80%;
	}
	#a100, #a101, #a102
	{
		margin: .1em 3.1em;/*Margen*/
	}
	#uno a 
	{
		right: 11%;
		top: 6%;
	}
}
@media screen and (max-width: 320px){
	body
	{
		font-size: .8em;
	}
	footer
	{
		font-size: .4em;/*Tamaño de letra*/
	}
	nav li img  /*Imagen*/
	{
		max-width: 75%; /*Ajuste al tamaño de página*/
	}
	.bt_cabecera
	{
		width: 30%;
	}
	/*.bt_cabecera_rep
	{
		margin-top: -.9em;
	}*/
	.popup
	{
		height: 39em;
	}
	#uno a {
		right: 5%;
		top: 3%;
	}
}
