* {
	border: 0;
	margin: 0;
	padding: 0;
}
body {
	background: #000 url(../img/fondo.jpg) no-repeat fixed;
	background-size: 100%;
}

#contenedor {
	font-size: 1.3em;
	margin-bottom: 7%;
	margin-top: 7%;
	padding: 0 1em;
}

#contenedorpuntos {
	
	color: #E4D28E; /*Color de letra*/
	display: inline-block;
	/*padding-left: 1.5em;*/
	vertical-align: middle;
	width: 88%;
}

#regresar {
	vertical-align: middle;
	width: 9%;
}

#flashContent{
	margin-left: 4%;
	width:51.5%;
}

#juego {
	display: block;
	margin: 0 auto;
}

#instrucciones{
	position: absolute; 
	top: 42%; 
	left: 67%;
}

#instrucciones p {
	color: #E4D28E;
	display: inline-block;
	vertical-align: middle;
	width: 88%;
	font-size: 1.3em;	
	margin-top: -30%;
}

/*#instrucciones img
{
	display: block;
	margin: 0 auto;
}*/

@media screen and (max-width: 1366px){
	#contenedor {
		margin-top: 7%;		
	}
	#instrucciones{
		top: 52%; 
	}

}

@media screen and (max-width: 800px) {
	#contenedor {
		font-size: 1.5em;
		margin-bottom: 11%;
		margin-top: 13%;
	}
}