/*Estilo definido por el programador*/
*
{
	border:0;
	margin: 0;
	padding: 0;
}

a img 
{
	border:0;
	padding: 24px;
}

.memory 
{
	margin:0 auto;
	display:none;
}

.cards 
{
	margin-top: -70px;
	min-height: 80%;
	position: absolute;
}

.card
{
	padding: 5px;
	margin-left: 7px;
}

.bg 
{
	position: fixed;
	display: none;
}

.gameover
 {
	z-index:10;
	position: fixed;
	margin-bottom: 0%;
	display:none;
	font-family:Helvetica, sans-serif;
}

.gameover_bg 
{
	margin-top: -25%;
	margin-left: 27%;
	background:rgb(68, 68, 68);
	background:rgba(68, 68, 68, .95);
	border:5px solid #fff;
	width:400px;
	height:auto;
	text-align:center;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-webkit-border-radius:25px;
}

.gameover_bg p 
{
	color:#ccc;
}

.gameover_bg a 
{
	color:#fff;
	text-decoration:none;
	cursor: pointer;
}

.gameover_bg a:hover 
{
	color:#ccc;
}

/*Estilo definido por el programador*/
body
{
	background: url("images/fondo.jpg") no-repeat;
	background-size: 100%;
}

/*Estilos de la página*/
h1
 {
	color:#fff;
	font-size:35px;
	margin-bottom:-10px;
	margin-top:15px;
}

.ie7 h1
 {
	margin-bottom:-15px;
}

.ie7 .gameover_bg p 
{
	margin-bottom:-8px;
}

.ie7 .gameover_bg p#onemoretime 
{
	margin-bottom:15px;
}

#regresar {
	position: absolute; /*Determina posición*/
	right: 1.5%; /*Ajuste tamaño lado izq.*/
	top: 11%; 
}

#regresar img {
	width: 10em;
}

#detalles 
{
	margin: auto;
	margin-bottom: 0%;
	width: 1100px;
	z-index: 50;
}

#cerebro
{
	display: inline-block;
	margin-top: 25%;
	margin-left: -6%;
	position: relative;
	width: 270px;
	z-index: 30;
	transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-o-transform:rotate(-30deg);
	-webkit-transform: rotate(-30deg);
}

#cerebro img
{
	width: 90%;
}

#coincidencias
{
	background: url("images/llevas.png");
	background-size: 100% 100%;
	display: inline-block;
	margin-left: -3%;
	position: relative;
	top: -120px;
	height: 40px;
	width: 250px;
}

#coincide
{
	background-color: transparent;
	display: inline-block;
	font-size: 20px;
	margin-left: 36%;
	margin-top: 10px;
	position: relative;
}

#intentos
{
	background: url("images/intentos.png");
	background-size: 100% 100%;	
	display: inline-block;
	height: 40px;
	position: relative;
	top: -120px;
	width: 230px;
}

#intentos_juego
{
	background-repeat: no-repeat;
	background-color: transparent;
	display: inline-block;
	font-size: 20px;
	margin-left: 48%;
	margin-top: 4%;
	position: relative;
}

#perdiste
{
	height: 100%;
	margin-left: 25%;
	margin-top: 10%;
	width: 50%;
	position: absolute;
	z-index: 50;
	display: none;
}

#puntos
{
	background: url("images/puntos.png");
	background-size: 100% 100%;	
	display: inline-block;
	height: 40px;
	position: relative;
	top: -120px;
	width: 120px;
}

#puntaje
{
	background-color: transparent;
	display: inline-block;
	font-size: 20px;
	margin-left: 30%;
	margin-top: 10px;
	position: relative;
}

#tiempo
{	
	background: url("images/tequedan.png");
	background-size: 100% 100%;
	display: inline-block;
	height: 40px;
	position: relative;
	top: -122px;
	width: 200px;
}

#tiempo_juego
{
	background-repeat: no-repeat;
	background-color: transparent;
	display: inline-block;
	font-size: 20px;
	margin-left: 58%;
	margin-top: 4%;
	position: relative;
}

.puntos, .usuario {
	color: #E4D28E;
	font-size: 1.3em;
	position: absolute;
	left: 1em;
	top: 14%;
	width: 20%;
	z-index: 30;
}
.puntos {
	top: 16%;
}


@media screen and (max-width: 1680px){
	#cerebro
	{
		margin-top: 16%;
	}
}

@media screen and (max-width:  1440px){
	#cerebro
	{
		margin-top: 18%;
	}
	#regresar img {
		width: 8em;
	}
	.puntos, .usuario {
	top: 15%;
	}
	.puntos {
		top: 19%;
	}
}
@media screen and (max-width: 1280px){
	#cerebro
	{
		margin-top: 12%;
	}
}

@media screen and (max-width: 1024px) {
	.cards  {
		margin-top: -65px;
	}

	body
	{
		background-size: 120%;
	}

	#cerebro img
	{
		width: 85%;
		margin-top: 5%;
		margin-left: -20%;
	}

	#boton {
		left: 220px;
		top: -110px;
	}

	#detalles {
		width: 768px;
	}
	#coincidencias {
		margin-left: -10%;
		top: -100px;
	}
	#puntos {
		margin-left: 1%;
		top: -100px;
	}
	#tiempo {
		top: -100px;
	}
	#intentos
	{
		top: -90px;
		left: 20%;
	}

	.usuario, .puntos
	{
		margin-top: -5%;
	}

	#regresar
	{
		margin-top: -5%;
	}
}

@media screen and (max-width: 768px){
	.cards  {
		border: 1px solid blue;
	}	
}