/* Google-styled buttons
* http://pixify.com/blog/use-google-plus-to-improve-your-ui/
*/
a.button, b.button {
    color: #FFF;
    font: bold 12px Helvetica, Arial, sans-serif;
    outline: none;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    -ms-transition: border-color .218s;
    transition: border-color .218s;
    background: #B40404;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#B40404),to(#8A0808));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#B40404),to(#8A0808));
    background: -ms-linear-gradient(linear,0% 40%,0% 70%,from(#B40404),to(#8A0808));
    background: -o-linear-gradient(linear,0% 40%,0% 70%,from(#B40404),to(#8A0808));
    border: solid 1px #dcdcdc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-right: 10px;
}

a.button:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

a.button:active {
    color: #000;
    border-color: #444;
}

a.left {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    -ms-border-radius-topright: 0;
    -o-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -ms-border-radius-bottomright: 0;
    -o-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}

a.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-left: solid 1px #f3f3f3;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
}

a.middle:hover, a.right:hover { border-left: solid 1px #999 }

a.right {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -ms-border-radius-topleft: 0;
    -o-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -ms-border-radius-bottomleft: 0;
    -o-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px #f3f3f3;
    border-left: solid 1px rgba(255, 255, 255, 0);
}

a.help {
    background: #B40404;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#B40404),to(#8A0808));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#B40404),to(#8A0808));
    background: -ms-linear-gradient(linear,0% 40%,0% 70%,from(#B40404),to(#8A0808));
    background: -o-linear-gradient(linear,0% 40%,0% 70%,from(#B40404),to(#8A0808));
}