/* general */
div#modal-window h1,
div#modal-window h2,
div#modal-window h4,
div#modal-window h5,
div#modal-window h6 { text-align: center; margin-bottom: 5px; }

/* overlay */
div#overlay {
    position: absolute;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=50);
    opacity: .5;
    z-index: 500;
    cursor: pointer;
}

div#overlay.hide { display: none; }

/* modal window */
div#modal-window {
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    top: -2px;
    left: 50%;
    z-index: 1000;
    background: #fefefe;
    padding: 10px 20px;
    box-shadow: 0 0 10px #333;
    -webkit-transition: top .4s ease-in-out;
    -moz-transition: top .4s linear;
    -o-transition: top .4s linear;
    -ms-transition: top .4s linear;
    transition: top .4s linear;
    width: 400px;
    border: 2px solid #333;
    color: #333;
}

div#modal-window.hide { top: -1000px; display: block; }

/* close button */
div#modal-window .button {
    float: right;
    margin: 3px 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    padding: 4px 10px 4px;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #ffffff;
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #e6e6e6;
    border-bottom-color: #e6e6e6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 960px) {
    div#modal-window { width: 90%; }
    div#modal-window .button { position: absolute; top: 10px; right: 10px; }
}
