html, body {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /********************/
    /* board background */
    /********************/
    background: #000 url(../images/fondo.jpg) no-repeat fixed;/*Fondo*/
    background-size: 100%;/*Tamaño del fondo*/
}

html, body, div, ul, li, canvas { margin: 0; padding: 0; }

h2 {
    font-size: 28px;
    padding: .4em;
    margin-top: 1em;
    text-align: center;
    text-shadow: .1em .2em .3em rgba(0,0,0,.4);
}

.hide { display: none; }

.clear { clear: both; }

#cabecera /*Encabezado*/{
    background: url(../images/fondo_header.png) no-repeat;/*Fondo*/
    background-size: 100% 100%;/*Tamaño del fondo*/
    display: inline-block; /*Muestra al elemento a nivel de bloque*/ 
    margin-top: 3%; /*Margen Superior*/
    text-align: center;
    width: 100%; /*Determina el ancho*/
}
#cabecera img /*Logo*/
{
    margin: 0 auto; /*Centrar imagen*/
    padding-top: .5em; /*Margen interno superior*/
    padding-bottom: .3em; /*Margen interno inferior*/
    width: 18%; /*Determina el ancho*/
}
#puntaje{
    color: #B2962F; /*Color de letra*/
    font-family: Helvetica;
    font-size: 1.1em;
    vertical-align: middle;
}
.boton
{
    text-align: center;
    margin-top: 2em;
}
.recuperacion /*Sección del contenido del index*/
{
    background: url(../images/caja_dinamicas.png)no-repeat;/*Fondo contenedor de usuarios ganadores*/
    background-size: 100% 100%; /*Tamaño del fondo*/
    font-size: 1.3em;
    height: 17em; /*Determina la altura*/
    margin: 3% auto; /*Margen*/
    padding: .7em 3em; /*Margen interno*/
    text-align: center;
    width: 50%; /*Determina el ancho*/
    /*Ajustar texto al contenedor*/
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.recuperacion  a
{
    background: #811414;
    border-radius: .5em 0em;
    color: #D2CD8B;
    font-size: .8em;
    padding: .5em;
    width: 15%;
    margin: 0;
    /*margin: .5em 5em;*/
}
.recuperacion a:hover
{
    color: #EEE;
    cursor: pointer;
    opacity: .7;
}
/*== Jigsaw puzzle ==*/
div#canvas-wrap {
    width: 100%;
    height: 100%;
}

canvas#canvas, canvas#buffer, canvas#image-preview {
    position: absolute;
    top: 18em;
    left: 0;
}

canvas#canvas { z-index: 100; }

canvas#canvas.loading { background: url(../images/loader.gif) no-repeat center; }

canvas#buffer { z-index: 70; }

canvas#image-preview.show {
    left: 50%;
    opacity: .5;
    z-index: 40;
}

/*== Options bar ==*/
div#game-options ul {
    margin: 0 auto;
}
div#game-options  {
    background: #fff;
    z-index: 500;
    top: 0;
    left: -20px;
    position: fixed;
    border-bottom: 1px solid #000;
    padding: 5px 10px 5px 30px;
    width: 100%;
    height: 32px;
    -moz-box-shadow: 0 0 5px black;
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
}

div#game-options ul li { 
    float: left;
    list-style: none;
    line-height: 25px;
}

div#game-options ul li b {
    margin: 0 10px;
}

/*== Clock ==*/
#clock {
    width: 60px;
    display: block;
    text-align: center;
}

/*== Select ==*/
div#game-options div.styled-select select {
    outline: none;
    background: transparent;
    width: 125px;
    padding: 5px;
    font-size: 13px;
    border: none;
    height: 28px;
    -webkit-appearance: none;
}

div#game-options div.styled-select {
    width: 100px;
    height: 28px;
    margin-right: 10px;
    overflow: hidden;
    background: url(../images/arrow.png) right no-repeat #f3f3f3;
    border: 1px solid #333;
    border-radius: 10px;
    color: #FFF;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*== Share buttons ==*/
#share-twitter, #share-facebook {
    text-indent: -10000px;
    width: 32px;
    height: 32px;
    display: block;
    cursor:pointer;
}

/*== Crear puzzle ==*/
#image-error { color: red; margin: 0 10px; display: none; }
#dnd { display: none }

#game-options #create {
    display: none;
    right: 25px;
    position: absolute;
}

#game-options #create .add {
    background: url(../images/plus.png)  10px 6px no-repeat #f3f3f3;
    padding-left: 30px;
}

/*== Modal window ==*/

div#congrat { text-align: center; }

div#help {
    font-size: 15px;
}

div#help ul { margin-left: 10px; }


#regresar {
    position: absolute; /*Determina posición*/
    right: 5.5em; /*Ajuste tamaño lado izq.*/
    top: 8.2em;
}

#regresar img {
    width: 10em;
}



/*===Responsive==*/
@media screen and (max-width: 1366px){
    canvas#canvas, canvas#buffer, canvas#image-preview {
        top: 13em;
    }
    #regresar {
        right: 5.5em; /*Ajuste tamaño lado izq.*/
        top: 5.7em;
    }
    #regresar img {
        width: 8em;
    }
}
/*== mobile ==*/
@media screen and (max-width: 960px) {
    div#game-options { left: -30px; }
    #clock { width: 50px; margin-left: }
    #SHOW_EDGE, #SHOW_MIDDLE, #SHOW_ALL { display: none; }
}

@media screen and (max-width: 479px) {
    #SHOW_HELP, #clock { display: none; }
    #JIGSAW_SHUFFLE { margin-left: 15px; }
    #SHOW_PREVIEW { margin-right: 10px; }
}

