 
* 
{
	padding: 0;
	margin: 0;	
}
body 
{
	background: url(fondo.jpg) no-repeat fixed;/*Fondo*/
	background-size: 100% 100%;/*Tamaño del fondo*/
	color: #fff;
	overflow: hidden;
	-ms-touch-action: none;
}
canvas 
{
	-ms-touch-action: none;
}
 