* {
	border: 0;
	margin: 0;
	padding: 0;
}
body {
	background: url("../images/fondo.jpg");
	background-size: 100%;
}

#contenedor {
	font-size: 1.3em;
	margin-top: 7%;
	margin-bottom: 7%;
	padding: 0 1em;
}

#contenedorusuario{
	display: inline-block;
	vertical-align: top;
	width: 88%;
}

#contenedorusuario p {
	color: #E4D28E;
	display: block;
	text-align: left;
}

#c2canvasdiv {
	margin-top: .6%;
	margin-left: 20%;
}

#pastilla {
	vertical-align: top;
	width: 9%
}

@media screen and (max-width: 1366px) {	
	body {
		background-size: 100% 100%;
	}
}

@media screen and (max-width: 1024px) {

	#contenedorusuario{
		width: 80%;
	}
	#contenedorusuario p {
		font-size: 1.5em;
	}	
	#pastilla {
		vertical-align: bottom;
		width: 15%
	}	
}

@media screen and (max-width: 768px){
	body {
		background-size: 100%;
	}
	#contenedorusuario p {
		font-size: 1em;
	}	
}