*{
  border: 0;
  margin: 0;
  padding: 0;

}

body {
  background: url(../img/fondo.jpg);
  background-size: 100%;
}

#contenedor {
  margin-top: -10%;
  margin-bottom: 6%;
  width: 100%;
    display: inline-block;
}

#prueba
{
  position: absolute;
  left: 56%;
  top: 110%;   
  width: 43%;
  padding-bottom: 3%;
}

#contenedorpalabras
{
  background: url(../img/PALABRAS.png) no-repeat;
  background-size: 70% 100%;
  display: inline-block;
  min-height: 600px;
  margin-top: -3%;
  padding-bottom: -1;
  position: relative;
  right: 0;
  vertical-align: top;
  width: 39%;
}

#contenedorpuntos {
  color: #E4D28E;
  display: inline-block;
  font-family: Helvetica;
  font-size: 1.1em;
  padding-left: 1.5em;
  width: 85%;
  margin-top: 17%;
}

#contenedorpuntos p{
    padding-bottom: .6em;
    width: 60%;
}

#extras {
  position: absolute;
  right: 2%;
  margin-top: 25%;
  width: 20%;
}

/**
* Styles for the puzzle
*/
#puzzle {
  background: url(../img/HOJA.png) no-repeat;
  background-size: 100% 100%;
  padding-top: 145px;
  padding-left: 50px;
  padding-right: 30px;
  padding-bottom: 110px;
  display: inline-block;
  margin-top: -3%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  width: 50%;
  z-index: 10;
}

#puzzle div {
  width: 100%;
}

/* style for each square in the puzzle */
#puzzle .puzzleSquare {
  background: transparent;
  height: 4.5%;
  width: 4.5%;
  text-transform: uppercase;
  font: 1.3em sans-serif;
  font-weight: bolder;
}

button::-moz-focus-inner {
  border: 0;
}

/* indicates when a square has been selected */
#puzzle .selected {
  background-color: orange;
}

/* indicates that the square is part of a word that has been found */ 
#puzzle .found {
  background-color: blue;
  color: white;
}

#puzzle .solved {
  background-color: purple;
  color: white;
}

/* indicates that all words have been found */
#puzzle .complete {
  background-color: green;
}

#linkregresar {
    display: block;
    width: 90%;
    float: right;
    padding: 0;
}

#regresar {
    display: block;
    width: 90%;
    padding: 0;
}

/**
* Styles for the word list
*/
#words {
  display: inline-block;
  -moz-column-count: 1;
  -moz-column-gap: 20px;
  -webkit-column-count: 1;
  -webkit-column-gap: 20px;
  column-count: 1;
  column-gap: 20px;
  margin-top: 28%;
  margin-left: 5%;
  width: 100%;
}

#words ul {
  list-style-type: none;
}

#words li {
  padding: 2px 0;
  font: 10px sans-serif;
}

/* indicates that the word has been found */
#words .wordFound {
  text-decoration: line-through;
  color: gray;
}

/**
* Styles for the button
*/
#solve {
  margin: 0 30px;
}
.v_jugar
{
  background: #811414;
  border-radius: .5em 0em;
  color: #D2CD8B;
  font-size: 1em;
  left: 67%;
  padding: .5em;
  position: absolute;
  top: 95%;
  width: 10%;
}

.v_jugar:hover
{ 
  color: #EEE;
  cursor: pointer;
  opacity: .7;
}

@media screen and (max-width: 1920px) and (min-height: 1200px){
  #contenedorpuntos
  {
    margin-top: 18%;
  }

  #contenedorpalabras
  {
    margin-top: -2%;
  }

  .v_jugar
  {
    margin-top: -22%;
  }

  img
  {
    margin-top: -23%;
    padding-bottom: 3%;
  }
}
@media screen and (max-width: 1920px) and (min-height: 1080px){
  #puzzle
  {
    margin-top: -1%;
  }

  #contenedorpalabras
  {
    margin-top: -1%;
  }

  #contenedorpuntos
  {
    margin-top: 18%;
  }
  
  .v_jugar
  {
    margin-top: -13%;
  }

  img
  {
    margin-top: -15%;
  }

}

@media screen and (max-width: 1680px) and (min-height: 1050px){

  img
  {
    margin-top: -22%;
  }

  .v_jugar
  {
    margin-top: -20%;
  }
}

@media screen and (max-width: 1600px) and (min-height: 900px){

  .v_jugar
  {
    margin-top: -13%;
  }

  img
  {
    margin-top: -15%;
  }
}

@media screen and (max-width: 1440px) and (min-height: 900px){
  #cont_principal{
    margin-top: 1em;

  }

  #contenedorpuntos
  {
      margin-top: 0%;
  }

  #contenedor {
    margin-top: 7%;
    margin-bottom: 6%;
  }
  #extras {
    margin-top: 30%;
  }
  #contenedorimagen {
    left: 73.5%;
    top: 62%;
    width: 25%;
  }

}

@media screen and (max-width: 1366px) and (min-height: 768px){

  .v_jugar
  {
    margin-top: -5%;
  }

  img
  {
    margin-top: -5%;
  }
}

@media screen and (max-width: 1280px) and (min-height: 800px) {

  .v_jugar
  {
    margin-top: -13%;
  }

  img
  {
    margin-top: -13%;
  }
}

@media screen and (max-width: 1280px) and (max-height: 700px){

  .v_jugar
  {
    margin-top: -8%;
  }

  img
  {
    margin-top: -9%;
  }
}

@media screen and (max-width: 1280px) and (max-height: 680px){

    .v_jugar
    {
      margin-top: -8%;
    }

    img
    {
      margin-top: -10%;
    }
}

@media screen and (max-width: 1024px) and (min-height: 768px) {
  
  #contenedor {
    margin-top: 14%;
    margin-bottom: 10%;
  }

  #contenedorpuntos
  {
    margin-top: -10%;
  }

  #contenedorpalabras{
    display: inline-block;
    /*height: 00px;*/
    margin-top: -10%;
    padding-bottom: 0;
    position: inherit;
    right: 0;
    vertical-align: top;
    width: 33%;
  }

  #extras {
    margin-top: 46%;
  }
  #puzzle .puzzleSquare {
    height: 26px;
    width: 26px;
    font: 1em sans-serif;
    font-weight: bolder;
  }
  #puzzle {
    background-size: 100% 100%;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 0;
    padding-bottom: 65px;
    display: inline-block;
    margin-top: -10%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    width: 600px;
  }
  #words {
    margin-top: 45%;
    margin-left: 1.5%;
    width: 100%;
  }

  .v_jugar
  {
    margin-top: -22%;
  }

  img
  {
    margin-top: -27%;
  }
}

@media screen and (max-width: 1024px) and (min-height: 600px) {

  #contenedorpalabras
  {
    margin-top: -61%;
    margin-left: 60%;
  }

  #puzzle
  {
    margin-top: -7%;
  }
}