body{
	margin:0;
	padding:0;
	background:#eee;
	line-height:1.8;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:.75em;
}
h4 {
	margin-bottom:-15px;
	font-weight:normal;
	font-size:14px;
}

h2 {
	font-size:20px;
	font-weight:normal;
}

h1 {
	font-size:30px;
	margin-bottom:0px;
	margin-top:40px;
}

p {color:#555;}
.toc h1{font-size:35px;}
.toc{padding-bottom:30px;line-height:.75em;}
.toc a {text-decoration:none;}

ul{
	list-style:none;
	color:#555;
	}
ol{
	color:#555;
	}
a {
color:#222;
}
a:hover {
	background:#fff;
	}
img{
	border:1px solid #999;
	}
.logo img{
	border:none;
	}
hr{margin-bottom:20px;}

.image_sub{
	margin-top:-10px;
	font-style:italic;
	}
.main_container{
	border-top:3px solid #000;
	text-align:center;
	
	}
	
.content_container{
	width:900px;
	text-align:left;
	margin:0 auto;
	}
	
.logo{
	margin:90px 0 60px 0;}

.alert_green {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#e5ffcc url(images/alert_green.png) left center no-repeat;
	color:#573;
	border:1px solid #bbdd99;
	padding:10px 10px 10px 40px;
	margin:10px 0 20px 0;
}
.alert_blue {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#e5f5ff url(images/alert_blue.png) left center no-repeat;
	color:#467;
	border:1px solid #bde;
	padding:10px 10px 10px 40px;
	margin:10px 0 20px 0;
}
.alert_yellow {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#ffd url(images/alert_yellow.png) left center no-repeat;
	color:#664;
	border:1px solid #ddc;
	padding:10px 10px 10px 40px;
	margin:10px 0 20px 0;
}
.alert_red {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#fcc url(images/alert_red.png) left center no-repeat;
	color:#744;
	border:1px solid #daa;
	padding:10px 10px 10px 40px;
	margin:10px 0 20px 0;
}